/* ALL SCREENS */
#homeNav {
    background-color:rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px;
}

.page-footer {
    background-color:rgb(65,158,130);
}

h5 {
    text-align:center;
    margin:0px;
    padding:20px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align:center;
    margin:0px;
    padding:0px 0px 20px 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color:rgb(255,168,140)
}

.labelFloat {
    position: relative;
    top: -406px;
    text-align: center;
    background-color: RGBA(0,0,0,.5);
    color: white;
    padding-bottom: 5px;
    display: none;
}

.navLink {
    height: 100%;
}

.mobLink {
    height:35px;
    width:35px;
    position:fixed;
    top:15px;
    padding:0px;
    z-index:999;
}

.icon {
    height:35px;
    width:35px;
}

.carousel {
    height:500px!important
}

.carousel-item {
    height:400px!important;
    width:400px!important
}

.carousel-item:hover>.labelFloat {
    display: block;
    background-color: RGBA(0,0,0,.5);
}

#sendButton {
    display: block;
    margin: 0 auto;
}

.brand-logo {
    font-size: 1.5rem!important;
}


/* MOBILE SCREENS */
@media only screen and (max-width: 767px){
    #bckgrnd {
      width:350%;
    }

    .brand-logo {
        left:15%!important;
        position:fixed!important;
    }
}


/* DESKTOP SCREENS */
@media only screen and (min-width: 768px) {
    #bckgrnd {
      width:100%;
    }
}